.app-container {
  background-color: #222;
  color: #FFF;
  /* other styles */
}

.Navbar {
  justify-content: space-between;
  /* other styles */
}

.city-overview, .weather-tile, .other-cities {
  margin: 10px;
  /* other styles */
}
